{{ define "content" }}
<!-- Chat Completion Demo and Headers -->
<div class="grid-container">
    <div class="demo">
        <h2 class="text-2xl">Chat Completion Demo</h2>
        <div class="flex flex-col space-y-2">
            <label for="model">Model:</label>
            <select id="model" class="bg-gray-700 p-2 rounded">
                <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                <option value="gpt-4">gpt-4</option>
            </select>
            <label for="systemRole">System Prompt:</label>
            <textarea id="systemRole" class="bg-gray-700 p-2 h-20 rounded">You are a helpful assistant.</textarea>
            <label for="userRole">User Prompt:</label>
            <textarea id="userRole" class="bg-gray-700 p-2 h-20 rounded"></textarea>
            <button onclick="generateChatCompletion()" class="p-2 bg-green-500 rounded text-gray-800">Generate Chat
                Completion</button>
        </div>
        <h3 class="text-xl">Response:</h3>
        <pre id="chatCompletionResponse" class="p-2 rounded bg-gray-700 text-green-500"></pre>
    </div>

    <div class="headers">
        <h2 class="text-2xl">L402 Headers for Chat Completion</h2>
        <h3 class="text-xl">WWW-Authenticate: L402 token={token}, invoice={invoice}</h3>
        <pre id="chatCompletionL402Header" class="p-2 rounded bg-gray-700 text-red-500"></pre>
        <h3 class="text-xl">Authorization: L402 {token}:{preimage}</h3>
        <pre id="chatCompletionAuthorizationHeader" class="p-2 rounded bg-gray-700 text-blue-500"></pre>
    </div>
</div>
{{ end }}

{{ define "scripts" }}
<script>
    async function generateChatCompletion() {
        if (typeof window.webln === "undefined") {
            alert("This demo of Matador requires a bitcoin browser extension, you can download one at https://getalby.com");
            return;
        }
        const model = document.querySelector("#model").value;
        const systemRole = document.querySelector("#systemRole").value;
        const userRole = document.querySelector("#userRole").value;
        const payload = {
            model: model,
            messages: [
                { role: "system", content: systemRole },
                { role: "user", content: userRole },
            ],
        };

        // Replace the URL with your Matador server's URL
        const response = await fetchWithL402("https://matador-ai.replit.app/v1/chat/completions", {
            method: "POST",
            body: JSON.stringify(payload),
            mode: "cors",
            headers: { "Content-Type": "application/json", Accept: "application/json" },
        }, { l402ElementId: "chatCompletionL402Header", authorizationElementId: "chatCompletionAuthorizationHeader" });


        // Displaying the response
        const json = await response.json();
        document.querySelector("#chatCompletionResponse").textContent = JSON.stringify(json, null, 2);
    }
</script>
{{ end }}